@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* border: Red solid 1px; */
}

:root {
    /* font-size */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-35: 35px;
    --fs-36: 36px;
    --fs-48: 48px;
    --fs-64: 64px;
    /* font-weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    /* font-family */
    --ff-poppins: "poppins", sans-serif;
    --ff-Yantramanav: "Yantramanav", sans-serif;
}

.fs-12 {
    font-size: var(--fs-12);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-35 {
    font-size: var(--fs-35);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.ff-poppins {
    font-family: "poppins", sans-serif;
}

.ff-Yantramanav {
    font-family: "Yantramanav", sans-serif;
}

.mt-6 {
    margin-top: 90px;
}

.d-flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.flex_col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.cursor-pointer {
    cursor: pointer;
}

.object-fit-contain {
    object-fit: contain;
}

.overflow {
    overflow: hidden;
}

.mb-90 {
    margin-bottom: 90px;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.font-55 {
    color: #FFF;
    margin-left: 1%;
}

.bg-img {
    background-image: url(../images/bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img2 {
    background-image: url(../images/bg-img2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.position-realitive {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.events1 {
    color: #2C49FE;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.svg {
    position: relative;
    top: 50%;
}

.home {
    color: #ffffff;
    cursor: pointer;
}

.home:hover {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.btn2 {
    top: 13px;
    left: 1202px;
    padding: 11px 28px 11px 28px;
    border-radius: 23px;
    gap: 10px;
    background-color: #2C49FE;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: none;
    margin-top: -15px;
    width: 118px;
    height: 46px;
    cursor: pointer;
}

.gap-60 {
    gap: 60px;
}

.gap-15 {
    gap: 15px;
}

.gap-5 {
    gap: 5%;
}

.h2 {
    color: #FFF;
    line-height: 150.5%;
    max-width: 1044px;
    margin-top: 100px;
}

.para {
    color: #FFF;
    max-width: 765px;
}

.btn {
    display: inline-flex;
    padding: 11px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 28px;
    background: #2C49FE;
    border: none;
    margin-top: 60px;
    color: #FFF;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}

.learn-more {
    color: #FFF;
    margin-left: 23px;
}

.bg-gray {
    color: pink;
}

.lock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pt-0 {
    padding-top: 10px;
}

.ml-30 {
    margin-right: 20px;
}

.bg-color {
    color: #FFF;
}

.bg-color-1 {
    color: #ffffffb3;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.position {
    position: absolute;
}

.min-vh-100 {
    min-height: 100vh;
}

.btnn {
    width: 185px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 150px;
    background: #FFF;
    border: none;
    color: #2C49FE;
    margin-right: 40px;
    cursor: pointer;
}

.btn1 {
    color: #2C49FE;
    background-color: white;
    width: 185px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 150px;
    background: #FFF;
    margin-top: 10px;
    cursor: pointer;
}

.mt-1 {
    margin-top: 140px;
}

.mb-1 {
    padding-bottom: 100px;
}

.mt-2 {
    margin-top: 20px;
}

.city {
    width: 100px;
    color: white;
}

.pt-10 {
    padding-top: 5px;
}

.pt-8 {
    padding-top: 8px;
}

.h3 {
    color: #000;
}

.para1 {
    color: #000000b3;
}

.lorem {
    width: 708px;
    color: #FFF;
    text-align: center;
    padding-top: 30px;
}

.para2 {
    width: 765px;
    color: #FFF;
    text-align: center;
    padding-bottom: 20px;
}

.pt-5 {
    padding-bottom: 100px;
    padding-top: 50px;
}

.pl-12 {
    display: flex;
    justify-content: space-between;
}

.pl-13 {
    padding-right: 30px;
}

.pb-20 {
    padding-bottom: 50px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.number {
    color: #FFF;
}

.words {
    color: #FFF;
    margin-left: -10px;
}

.h4 {
    width: 338px;
    color: #000;
}

.para3 {
    color: #000000b3;
}

.learn {
    color: #000;
}

.card {
    border-radius: 5px;
    padding: 12px;
    background: #FFF;
    box-shadow: 2px 9px 32px 0px #0000000f;
    cursor: pointer;
}

.pt-90 {
    padding-top: 90px;
}

.date {
    color: #000000b3;
}

.h5 {
    color: #000;
}

.para4 {
    color: #000000b3;
}

.ml-20 {
    margin-left: 20px;
}

.h6 {
    color: #000;
}

.para5 {
    max-width: 543px;
    color: #000000b3;
}

.img {
    width: 300px;
    margin-top: 100px;
}

.pt-20 {
    padding-top: 100px;
}

.pt-25 {
    padding-top: 100px;
}

.pl-10 {
    padding-top: 80px;
}

.signup {
    color: #000;
    cursor: pointer;
}

.txt {
    margin-left: 10px;
}

.my-50 {
    margin-top: auto;
    margin-bottom: auto;
}

.min-height-1358 {
    min-height: 1200px;
}

.signup1 {
    display: flex;
    width: 574px;
    padding: 11px 28px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 23px;
    background: #2C49FE;
    cursor: pointer;
}

.pl-24 {
    padding-left: -24px;
}

.pr-1 {
    padding-right: 20px;
}

.pr-2 {
    padding-right: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.mt-16 {
    margin-top: 16px;
}

.input::placeholder {
    color: #000000b3;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;
}

.name {
    width: calc(50% - 18px);
    height: 42px;
    border-radius: 5px;
    border: 1px solid #999999;
    padding: 12px;
    margin-right: 12px;
    outline: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.email_form {
    padding: 12px;
    width: calc(100% - 20px);
    height: 42px;
    border-radius: 5px;
    border: 1px solid #999999;
    outline: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.First {
    color: black;
}

.about {
    padding: 12px;
    padding-bottom: 80px;
    padding-left: 12px;
    margin-top: 20px;
    width: calc(100% - 20px);
    border: 1px solid #999999;
    border-radius: 5px;
    background: #00000000;
    outline: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.sec4-butn {
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 16px;
    border: none;
    display: flex;
    width: 99%;
    padding: 11px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 23px;
    background: #2C49FE;
}

.images1 {
    padding-right: 50px;
    margin-top: 30px;
    padding-bottom: 70px;
}

.bg-black {
    background-color: #000000;
    height: 400px;
}

.box {
    width: 260px;
    height: 198px;
    border-radius: 5px;
    background: #2C49FE;
}

.h7 {
    text-align: center;
    color: #2C49FE;
    margin-top: 50px;
}

.text-nowrap {
    text-wrap: nowrap;
}

.para-1 {
    color: #2C49FE;
    text-align: center;
    line-height: 131%;
}

.card-1 {
    width: 100%;
    height: 235px;
    padding: 12px;
    border-radius: 5px;
    margin-top: 46px;
    background: #ffffff;
    border: 3px solid #2C49FE;
    position: relative;
}

.card-1:hover {
    transition: all 555ms ease linear;
    background-color: #2C49FE;
    color: #ffffff;
}

.card-1:hover .h7,
.card-1:hover .para-1 {
    color: #fff;
    transition: all 555ms ease linear;
}

.cardbox {
    width: 79px;
    height: 79px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20%;
    background-color: #FFF;
    right: 37%;
    border: 3px solid #2C49FE;
    cursor: pointer;
}

.min-height-867 {
    min-height: 600px;
}

.bg_color {
    background-color: black;
}

.py-5 {
    padding-top: 50px;
    padding-bottom: 30px;
}

.mt-5 {
    margin-top: 50px;
}

.pb-50 {
    padding-bottom: 100px;
}

.pt-26 {
    padding-top: 13px;
}

.events {
    color: #2C49FE;
}

.free {
    color: #01C8FF;
}

.para_2 {
    max-width: 346px;
    color: white;
}

.mb-24 {
    margin-bottom: 24px;
}

.gap-190 {
    gap: 190px;
}

.col-7 {
    width: 58.31%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    width: 33.33%;
    padding: 6px;
}

.pt_50 {
    padding-top: 50px;
}

.color {
    color: aliceblue;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.gallary {
    color: white;
    width: 61px;
}

.w-100 {
    width: 100%;
}

.show-more {
    text-align: center;
    padding: 15px;
    color: white;
}

.credits {
    color: #FFF;
}

.box_1 {
    width: 90px;
    height: 60px;
    background-color: #18205C;
}

.text-white {
    color: white;
}

.gallary {
    color: #FFF;
}

.fw400 {
    margin-bottom: 15px;
}

.pb_50 {
    margin-bottom: 10px;
}

.color-1 {
    margin-bottom: 100px;
}

.mt-30 {
    margin-top: -30px;
}

.ml-64 {
    margin-left: 44px;
}

.mr-173 {
    margin-right: 173px;
}

.btn-1 {
    padding: 11px 28px;
    border-radius: 23px;
    background: #2C49FE;
    outline: none;
    border: none;
}

.r-svg {
    background-color: #2C49FEBD;
    border-radius: 100px;
}

.p-32 {
    padding: 32px;
}

.p-60 {
    padding: 60px;
}

.justify-content-end {
    justify-content: end;
}

.responsive-row {
    max-width: 962px;
}

.mt-100 {
    margin-top: 100px;
}

.svg-text1 {
    color: #FFF;
}

.svg-text2 {
    color: #ffffffb3;
}

.line-1 {
    width: 414.56px;
    height: 8px;
    background-color: #2C49FE;
}

.line-2 {
    width: 469.5px;
    height: 8px;
    background-color: #01C8FF;
}

.line-3 {
    position: absolute;
    top: 24%;
    left: 39%;
}

.w-line {
    width: 3px;
    height: 74px;
    background-color: #ffffff;
    margin-top: 30px;
}

.w-line-2 {
    width: 3px;
    height: 74px;
    background-color: #ffffff;
    margin-top: 30px;
}

.w-line-3 {
    width: 3px;
    height: 74px;
    background-color: #ffffff;
    margin-top: 30px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-40 {
    padding-left: 57px;
}

.h-btn3 {
    padding: 20px 30px;
    color: #2C49FE;
    font-family: "Poppins", sans-serif;
    border-radius: 150px;
    border: none;
}

.img-p {
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.p-svg {
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.ml-100 {
    margin-left: 100px;
}

.pt-89 {
    padding-top: 89px;
}

.pl-18 {
    padding-left: 18px;
}

.pt-28 {
    padding-top: 28px;
}

.position-sticky {
    position: sticky;
    top: 0;
    z-index: 3;
    background-image: url(../images/bg-img.png);
    background-size: cover;
    border: none;
    outline: none;
    overflow: hidden;
}

@media (max-width:320px) {
    .lorem {
        width: 320px;
    }

    .para2 {
        width: 320px;
    }

    .para3 {
        width: 318px;
    }

    .cardbox {
        right: 20%;
    }

    :root {
        --fs-14: 10px;
        --fs-16: 11px;
        --fs-20: 7px;
        --fs-36: 25px;
        --fs-48: 34px;
        --fs-48: 15px;
        --fs-64: 27px;
    }

    .cardbox {
        right: 20%;
    }

    .line-display-none {
        display: none;
    }

    .w-line-none {
        display: none;
    }

    .w-line-2-none {
        display: none;
    }

    .w-line-3-none {
        display: none;
    }

    .ml-100 {
        margin-left: 0;
    }
}

@media(max-width:992px) {
    .col-xl-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-sm-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-lg-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-md-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .height {
        min-height: 400px;
    }

    .cardbox {
        right: 46%;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .line-display-none {
        display: none;
    }

    .w-line-none {
        display: none;
    }

    .w-line-2-none {
        display: none;
    }

    .w-line-3-none {
        display: none;
    }

    label[for="menuicon"] {
        display: flex;
        width: 55px;
        height: 35px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;
        right: 10px;
    }

    label[for="menuicon"]>span {
        border: 2px;
        background-color: #01C8FF;
        width: 100%;
        height: 5px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .mobile_view {
        display: flex;
        flex-direction: column;
        transition: all 555ms linear;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        gap: 25px;
        z-index: 2;
        cursor: pointer;
        overflow: hidden;
    }

    input[type="checkbox"]:checked+.mobile_view {
        background-color: #000000;
        right: 0;
        display: flex;
        height: 100%;
        position: fixed;
        cursor: pointer;
        overflow: hidden;
    }

    .max-lg-row {
        flex-direction: row;
    }
}

@media (min-width:992px) {
    .lgFlex-row {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:768px) {
    .col-lg-3 {
        width: 25%;
    }

    .col-md-6 {
        width: calc(50%);
    }

    .h-btn3 {
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }

    .col-xl-12 {
        width: 193px;
        padding-right: 12px;
        padding-left: 12px;
    }

    .line-display-none {
        display: none;
    }

    .w-line-none {
        display: none;
    }

    .w-line-2-none {
        display: none;
    }

    .w-line-3-none {
        display: none;
    }

    .cardbox {
        right: 45%;
    }

    .md-h-btn {
        padding: 10px 40px;
        border-radius: 40px;
        margin-top: 30px;
        height: 70px;
    }

    .pt-lg-20 {
        padding-top: 20px;
    }

    .lorem {
        width: 768px;
    }

    .para2 {
        width: 768px;
    }

    :root {
        --fs-16: 13px;
        --fs-48: 26px;
        --fs-35: 26px;
        --fs-64: 42px;
    }
}

@media (max-width:576px) {
    .w-md-100 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .mb-sm-16 {
        margin-bottom: 16px;
    }

    .col-md-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-sm-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .flex_col {
        flex-direction: column;
    }

    .lorem {
        width: 425px;
    }

    .para2 {
        width: 430px;
    }

    .para3 {
        width: 556px;
    }

    :root {
        --fs-16: 12px;
        --fs-20: 13px;
        --fs-48: 20px;
        --fs-64: 21px;
    }

    .line-display-none {
        display: none;
    }

    .w-line-none {
        display: none;
    }

    .w-line-2-none {
        display: none;
    }

    .w-line-3-none {
        display: none;
    }

    .max-smFlex-col {
        display: flex;
        flex-direction: column;
    }

    .ml-100 {
        margin-left: 0;
    }
}

@media (max-width:400px) {
    .col-mt-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-lm-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .lorem {
        width: 400px;
    }

    .para2 {
        width: 390px;
    }

    .para3 {
        width: 371px;
    }

    .cardbox {
        right: 40%;
    }

    .line-display-none {
        display: none;
    }

    .w-line-none {
        display: none;
    }

    .w-line-2-none {
        display: none;
    }

    .w-line-3-none {
        display: none;
    }

    .ml-100 {
        margin-left: 0;
    }
}

@media (max-width:425px) {
    .lorem {
        width: 220px;
    }

    .para2 {
        width: 220px;
    }

    .cardbox {
        right: 40%;
    }

    :root {
        --fs-16: 9px;
        --fs-36: 25px;
        --fs-48: 19px;
    }

    .line-display-none {
        display: none;
    }

    .w-line-none {
        display: none;
    }

    .w-line-2-none {
        display: none;
    }

    .w-line-3-none {
        display: none;
    }

    .ml-100 {
        margin-left: 0;
    }
}

@media (max-width:765px) {
    .para {
        max-width: 765px;
    }

    .col-pt-12 {
        width: 100%;
    }

    .line-display-none {
        display: none;
    }

    .w-line-none {
        display: none;
    }

    .w-line-2-none {
        display: none;
    }

    .w-line-3-none {
        display: none;
    }
}

@media (max-width:1024px) {
    :root {
        --fs-48: 35px;
    }
}

@media (max-width:1200px) {
    .col-xxl-12 {
        width: 100%;
    }
}